@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  margin: 0px;
  padding: 0px;
  font-family: 'Comic Neue', cursive;
  background-color: rgb(234,87,246);
  background-image: linear-gradient(0deg, rgba(234,87,246,1) 0%, rgba(40,178,233,1) 47%, rgba(76,223,76,1) 100%);
  }


.PageContent{
  margin-left: 50px;
  margin-right: 50px;
}

.menuBar a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  height: 60px;
  text-decoration: none;
  font-size: 35px;
}
.menuBar a:hover{
  /* background-color: plum; */
  color: darkgreen;
}
.menuBar ul{
  list-style: none;
  display: flex;
}
.menuBar li{
  position: relative;
  width: 100%;
  text-align: center;
}
.menuBar li:hover .DropDownMenu > li{
  display: block;
  top: 0;
}
.DropDownMenu li{
  display: none;
  position: relative;
}
.DropDownMenu{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.DropDownMenu li:hover{
  display: block;
}

h1{
  font-size: 84px;
}

.PageHeading{
  display: flex;
  justify-content: center;
  font-size: 84px;
  font-family: 'Rubik Bubbles', cursive;
}

.paragraph{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.inspocaption{
  display: block;
  color: white;
  font-size: 36px;
  margin: auto;
  /* margin-bottom: 20px; */
  text-align: center;
}

.caption{
  color: white;
  font-size: 42px;
  margin: auto;
  /* margin-bottom: 20px; */
}

.caption01{
  color: white;
  font-size: 42px;
  margin: auto;
  /* margin-bottom: 20px; */
}

.caption02{
  color: white;
  font-size: 42px;
  margin: auto;
  /* margin-bottom: 20px; */
}

.caption03{
  color: white;
  font-size: 42px;
  margin: auto;
  /* margin-bottom: 20px; */
}

#ConceptArtTitle{
  color: #006100;
}

#Story_title{
  color: #007b31;
}

#Inspiration_title{
  color: #026f4d;
}

#MeetCharacters{
  color: #015f60;
}

#GameplaySection{
  color: #5d4cc8;
}

#Hints_header{
  color: #860091;
}

.logoContanier{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.logoItem{
  width: 100%;
}

.logoImage{
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.thumbnailContanier01{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem01{
  width: 100%;
}

.thumbnailImage01{
  width: 100%;
  height: 600px;
  object-fit: contain;
}


.thumbnailItem01 > p{
  text-align: center;
  font-size: 24px;
}

.thumbnailContanier02{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem02{
  width: 100%;
}

.thumbnailImage02{
  width: 100%;
  height: 590px;
  object-fit: contain;
}


.thumbnailItem02 > p{
  text-align: center;
  font-size: 24px;
}

.thumbnailContanier03{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.thumbnailItem03{
  width: 100%;
}

.thumbnailImage03{
  width: 100%;
  height: 585px;
  object-fit: contain;
}


.thumbnailItem03 > p{
  text-align: center;
  font-size: 24px;
}

.thumbnailContanier04{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem04{
  width: 100%;
}

.thumbnailImage04{
  width: 100%;
  height: 600px;
  object-fit: contain;
}


.thumbnailItem04 > p{
  text-align: center;
  font-size: 24px;
}

.thumbnailContanier05{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  /* margin-top: 20px; */
}

.thumbnailItem05{
  width: 100%;
}

.thumbnailImage05{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.thumbnailItem05 > p{
  text-align: center;
  font-size: 24px;
}

iframe{
  display: block;
  margin: auto;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

#frame{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px;
  width: 1000px;
  height: 800px;
}


#frame02{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px;
  width: 1200px;
  height: 800px;
}

.thumbnailContanier06{
  display: flex;
  justify-content: center;
  gap: 10px;
  /* margin-top: 20px; */
}

.thumbnailItem06{
  width: 100%;
}

.thumbnailItem06{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

#pixel_frames{
  display: block;
  margin: auto;
  /* margin-top: 20px; */
  width: 300px;
  height: 400px;
}

@media only screen and (max-width:992px){
  body,html{
    overflow-x: hidden;
  }
  body{
    background-color: green;
    width: 100%;
    background-image: none;
    /* background-size: 100%; */
  }

  .menuBar{
  display: none;
  }

  h1{
    margin: auto;
    font-size: 35px;
  }

  #ConceptArtTitle{
    color: pink;
    margin-top: 10px;
  }

  #Story_title{
    color: pink;
  }

  #Inspiration_title{
    color: pink;
    margin-top: 10px;
  }

  #MeetCharacters{
    color: pink;
    margin-top: 10px;
  }

  #GameplaySection{
    color: pink;
    margin-top: 10px;
  }

  #Hints_header{
    color: pink;
  }

  .paragraph{
    font-size: 24px;
  }

  .caption{
    font-size: 24px;
  }

  .caption01{
    font-size: 24px;
  }

  .caption02{
  font-size: 24px;
  }

  .caption03{
  font-size: 24px;
  }

  .inspocaption{
    font-size: 24px;
    margin-bottom: 10px;
  }

  .PageHeading{
    font-size: 50px;
    max-width: 75%;
  }

  .logoContanier{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }

  .logoItem{
    width: 100%;
  }

  .logoImage{
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  .thumbnailContanier01{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .thumbnailItem01{
    width: 100%;
  }

  .thumbnailImage01{
    width: 100%;
    height: 300px;
    object-fit: contain;
    /* object-position: center center; */
  }

  .thumbnailContanier02{
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .thumbnailItem02{
    width: 100%;
  }

  .thumbnailImage02{
    width: 100%;
    height: 300px;
    object-fit: contain;
    /* object-position: center center; */
  }

  .thumbnailContanier03{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .thumbnailItem03{
    width: 100%;
  }

  .thumbnailImage03{
    width: 100%;
    height: 300px;
    object-fit: contain;
    /* object-position: center center; */
  }

  .thumbnailContanier04{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }

  .thumbnailItem04{
    width: 100%;
  }

  .thumbnailImage04{
    width: 100%;
    height: 300px;
    object-fit: contain;
    /* object-position: center center; */
  }

  .thumbnailContanier06{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    /* margin-top: 20px; */
  }

  .thumbnailItem06{
    width: 100%;
  }

  .thumbnailItem06{
    width: 100%;
    height: 400px;
    object-fit: contain;
  }


.embedded_iframes iframe{
  width: 100% !important;
  height: 200px !important;
  object-fit: contain;
  margin: auto;
  display: flex;
  justify-content: center;
  }


  /* .thumbnailContanier04{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .thumbnailContanier06{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } */

  figure{
    margin: auto;
    display: flex;
    justify-content: center;
    column-gap: 0px;
  }

}
