@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

*{
  box-sizing: border-box;
}

body, html{
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'Comic Neue', cursive;
  display: flex;
  justify-content: center;
  }

body{
  background-color: rgb(234,87,246);
  background-image: linear-gradient(0deg, rgba(234,87,246,1) 0%, rgba(40,178,233,1) 47%, rgba(76,223,76,1) 100%);
}

.PageContent{
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}

h1{
  font-size: 84px;
}

.PageHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 84px;
  font-family: 'Rubik Bubbles', cursive;
}

.paragraph{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 40px;
}

.inspocaption{
  display: block;
  color: white;
  font-size: 36px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.caption{
  color: white;
  font-size: 42px;
  margin: auto;
  margin-bottom: 20px;
}

#ConceptArtTitle{
  color: pink;
}

#Story_title{
  color: #015f60;
}

#Inspiration_title{
  color: #5d4cc8;
}

.logoContanier{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.logoItem{
  width: 100%;
}

.logoImage{
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.thumbnailContanier01{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem01{
  width: 100%;
}

.thumbnailImage01{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.thumbnailContanier02{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem02{
  width: 100%;
}

.thumbnailImage02{
  width: 100%;
  height: 590px;
  object-fit: contain;
}


.thumbnailContanier03{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.thumbnailItem03{
  width: 100%;
}

.thumbnailImage03{
  width: 100%;
  height: 585px;
  object-fit: contain;
}

.thumbnailContanier04{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumbnailItem04{
  width: 100%;
}

.thumbnailImage04{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.thumbnailContanier05{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}

.thumbnailItem05{
  width: 100%;
}

.thumbnailImage05{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.thumbnailItem05 > p{
  text-align: center;
  font-size: 24px;
}

iframe{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#frame{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px;
  width: 1000px;
  height: 800px;
}


#frame02{
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px;
  width: 1200px;
  height: 800px;
}

.thumbnailContanier06{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.thumbnailItem06{
  width: 100%;
}

.thumbnailItem06{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

#pixel_frames{
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  height: 400px;
}

@media only screen and (max-width:480px){
  body,html{
    overflow-x: hidden;
  }
  body{
    background-color: green;
    width: 100%;
    background-image: none;
  }
  h1{
    margin: auto;
    font-size: 35px;
  }
  .PageHeading{
    font-size: 50px;
    max-width: 75%
  }

  img {
    max-width: 75%;
    margin-bottom: 10px;
  }

  figure{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

}

/* @media only screen and (max-width: 469px) {

  body,html{
    overflow-x: hidden;
  }

  body{
    background-color: green;
    width: 100%;
  }

  h1{
    margin: auto;
    font-size: 40px;
  }

  .PageHeading{
    font-size: 50px;
    max-width: 75%
  }

  img {
    max-width: 75%;
    margin-bottom: 10px;
  }

  figure{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

} */
